@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans;
}

p {
  @apply font-mono;
}

section {
  @apply flex px-8 py-16;
}

body {
  background-color: #2f8fef;
  color: #fff;
}

section#hero {
  background-color: #3e93e9;
  background-image: url("../images/background.svg");
  background-position: bottom;
}
